@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(279deg, rgba(89,160,219,1) 0%, rgba(211,74,221,1) 60%);
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 600px;
  background: rgba(255,255,255,0.45);
  backdrop-filter: blur(10px);
  padding: 1.5rem 1rem;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
  
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 100%;
  padding: 1rem;
}
  
.icon {
 background: transparent;
}
    
.form {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  height: 50px;
  border-radius: 4px;
}
  
.input {
  padding: .5em 1em;
  color: #fff;
  border: 0;
  background-color: transparent;
  width: 70%;
  height: 95%;
  font-family: inherit;
  font-size: 1.2rem;
}
  
.button--submit {
  padding: .5em 1em;
  border: none;
  background-color: #5e4dcd;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  width: 30%;
  height: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 4px;
}
  
.button--submit:hover {
  background-color: #5e5dcd;
}
  
.input:focus, .input:focus-visible {
  border-color: #3898EC;
  /* outline: none; */
  outline: 1px solid #3898EC;
}

.weather-result{
  /* display: none; */
}

.temp-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
.temp{
  color: #333;
  font-weight: 900;
  font-size: 3.5rem;
}

.city_name{
  color: #333;
  font-size: 2rem;
  text-align: center;
}

.country-code{
  color: #333;
  font-size: 2.5rem;
}

.desc{
  color: #333;
  font-size: 1.5rem;
}

.temp-high-low{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.temp-high{
  color: #333;
  font-size: 1rem;
}

.temp-low{
  color: #333;
  font-size: 1rem;
}

.feels-like{
  color: #333;
  font-size: 1.3rem;
  text-align: center;
}

.local-time{
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
}

.details_wrapper{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.details{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  animation: weatherAnim 5s ease-out 1s 1 normal forwards;
}

.details-head{
  color: #333;
  font-size: 1rem;
}

.details-paragragh{
  color: #333;
  font-size: 1rem;
}

.icon-2{
  width: 3rem;
}

.city-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}


/* animation */
.weather-img{
  animation: myAnim 2s ease 1s normal both;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}


/*--------- loader ---------------*/
@-webkit-keyframes loader {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loader {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.loader {
  display: none;
  height: 24px;
  position: relative;
  width: 24px;
  margin: 0 auto;
  margin-top: 2rem;
}

.loader.show{
  display: block;
}

.loader div {
  -webkit-animation: loader 2.1s infinite backwards;
  animation: loader 2.1s infinite backwards;
  background: #f3f3f3;
  height: 12px;
  margin-top: 6px;
  position: absolute;
  width: 24px;
}

.loader div:after, .loader div:before {
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.loader div:after {
  top: -6px;
  border-bottom: 6px solid #f3f3f3;
}

.loader div:before {
  bottom: -6px;
  border-top: 6px solid #f3f3f3;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: -28px;
  top: 0;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  left: -14px;
  top: 22px;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  left: 14px;
  top: 22px;
}

.loader div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  left: 28px;
  top: 0;
}

.loader div:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  left: 14px;
  top: -22px;
}

.loader div:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: -14px;
  top: -22px;
}

.loader div:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  left: 0;
  top: 0;
}


/* media query */
@media (max-width: 768px) {
  .icon-wrapper{
    flex-direction: column;
  } 
}
