*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: 0.5s ease-in;
}

img:hover{
    translate: 5px;
}

h1{
    color: #fff;
}

.app-head{
    text-align: center;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 400px;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-box{
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 8px;
}

.search-btn{
    padding: 1rem;
    border: none;
    outline: none;
    background: #6093db;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #4f5379;
    text-align: center;
    padding: 20px;

}

.search-result{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 30px;
}

.show-more-btn{
    display: none;
    padding: 1rem;
    border: none;
    outline: none;
    background: #6093db;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}